* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "微软雅黑", "Microsoft Yahei", "华文细黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}

html {
	color: rgba(0, 0, 0, .87);
	font-size: 100px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	font-size: .14rem;
	line-height: 1.4;


}

html,body{
	height: 100%;
}

img {
	width: 100%
}

.ft5{
	font-size: .12rem;
	transform: scale(0.4);
}

.ft6{
	font-size: .12rem;
	transform: scale(0.48);
}

.ft7{
	font-size: .12rem;
	transform: scale(0.56);
}

.ft8{
	font-size: .12rem;
	transform: scale(0.64);
}

.ft9{
	font-size: .12rem;
	transform: scale(0.72);
}

.ft10 {
	font-size: .1rem
}

.ft11 {
	font-size: .11rem
}

.ft12 {
	font-size: .12rem
}

.ft13 {
	font-size: .13rem
}

.ft14 {
	font-size: .14rem
}

.ft15 {
	font-size: .15rem
}

.ft16 {
	font-size: .16rem
}

.ft17 {
	font-size: .17rem
}

.ft18 {
	font-size: .18rem
}

.ft19 {
	font-size: .19rem
}

.ft20 {
	font-size: .2rem
}

.ft21 {
	font-size: .21rem
}

.ft22 {
	font-size: .22rem
}

.ft23 {
	font-size: .23rem
}

.ft24 {
	font-size: .24rem
}

.ft28 {
	font-size: .28rem
}

.ft32 {
	font-size: .32rem
}

.wh12 {
	width: 12px;
	height: 12px
}

.wh16 {
	width: 16px;
	height: 16px
}

.wh24 {
	width: 24px;
	height: 24px
}

.wh32 {
	width: 32px;
	height: 32px
}

.wh48 {
	width: 48px;
	height: 48px
}

.c_wh100 {
	width: 100%
}

textarea,
input {
	border: 0;
	resize: none;
	background: 0 0;
	outline: 0
}

button {
	cursor: pointer;
	border: 0;
	outline: 0
}

button:active {
	opacity: .8
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
	visibility: hidden
}

.clearfix {
	zoom: 1
}

a {
	text-decoration: none;
	color: inherit
}

li {
	list-style: none
}

.ui-btn {
	min-width: 270px;
	border-radius: 10px;
	color: #fff;
	line-height: inherit;
	min-height: 50px;
	font-weight: 700;
	font-size: .2rem;
	background: #1CB381
}

.btn-blank {
	color: #1CB381;
	font-weight: 400;
	background: transparent;
	border: 1px solid #1CB381
}

.btn-normal {
	background: transparent;
	border: 1px solid #EAEAEA;
	color: gray
}

.c_selInput {
	position: relative
}

.c_selInput:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: .17rem;
	margin: auto;
	width: 0;
	height: 0;
	border-top: .12rem solid #000;
	border-left: .05rem solid transparent;
	border-right: .05rem solid transparent
}

.c_white_txt {
	color: #fff
}

.c_white_bg {
	background-color: #fff
}

.c_green_txt {
	color: #1CB381
}

.c_green_bg {
	background-color: #1CB381
}

.c_color_init {
	color: rgba(0, 0, 0, .85)!important
}

.c_red_txt {
	color: red
}

.c_blue_txt {
	color: #5959FF
}

.c_bold {
	font-weight: 700
}

.c_link_color {
	color: #16A9FF
}

.c_link_style {
	color: #16A9FF;
	text-decoration: underline
}

.c_under_line{
	text-decoration: underline;
}


::-webkit-input-placeholder {
	color: #CACACA;
	font-style: italic;
	letter-spacing: .05em
}

::-moz-placeholder {
	color: #CACACA;
	font-style: italic
}

::-moz-placeholder {
	color: #CACACA;
	font-style: italic
}

::-ms-input-placeholder {
	color: #CACACA;
	font-style: italic
}

.c_bg {
	background: transparent no-repeat center center;
	background-size: cover
}

.c_hd_img {
	background: transparent no-repeat center center;
	background-size: cover;
	border-radius: 50%
}

.c_circle {
	border-radius: 50%
}

.c_sub_margin_right>* {
	margin-right: 10px
}

.c_blockMargin5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.c_blockMargin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.c_blockMargin {
	margin-top: 15px;
	margin-bottom: 15px;
}

.c_blockMargin20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.c_blockMargin30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.c_blockMargin40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.c_bottom_line {
	position: relative;
}

.c_bottom_line:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 1px solid #CCC;
}

.c_top_line {
	position: relative;
}

.c_top_line:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-top: 1px solid #CCC;
}

.c_gray_txt {
	color: rgba(0, 0, 0, .38);
}

.c_gray_txt1 {
	color: rgba(0, 0, 0, .54);
}

.c_gray_bg {
	background-color: #F5F5F5;
}

.c_relative {
	position: relative
}

.c_inlineDiv>div {
	display: inline-block
}

.c_lineSpan>span {
	display: inline-block
}

.c_small {
	font-size: .8em
}

.c_cnt {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto
}

.c_autoCenter {
	margin-left: auto;
	margin-right: auto
}

.c_body_cnt {
	min-height: 500px
}

.c_margin_left5 {
	margin-left: 5px
}

.c_margin_left10 {
	margin-left: 10px
}

.c_margin_left15 {
	margin-left: 15px
}

.c_margin_left20 {
	margin-left: 20px
}

.c_margin_left25 {
	margin-left: 25px
}

.c_margin_left30 {
	margin-left: 30px
}

.c_margin_left40 {
	margin-left: 40px
}

.c_margin_left50 {
	margin-left: 50px
}

.c_margin_left60 {
	margin-left: 60px
}

.c_margin_right10 {
	margin-right: 10px
}

.c_margin_right5 {
	margin-right: 5px
}

.c_margin_right15 {
	margin-right: 15px
}

.c_margin_right20 {
	margin-right: 20px
}

.c_margin_right25 {
	margin-right: 25px
}

.c_margin_right30 {
	margin-right: 30px
}

.c_margin_right40 {
	margin-right: 40px
}

.c_margin_right50 {
	margin-right: 50px
}

.c_margin_right60 {
	margin-right: 60px
}

.c_margin_bottom {
	margin-bottom: 15px
}

.c_margin_bottom10{
	margin-bottom: 10px;
}

.c_margin_bottom20{
	margin-bottom: 20px;
}

.c_margin_bottom30 {
	margin-bottom: 30px
}

.c_margin-bottom40 {
	margin-bottom: 40px
}

.c_margin_top20 {
	margin-top: 20px
}

.c_margin_top30 {
	margin-top: 30px
}

.c_margin-top40 {
	margin-top: 40px
}

.c_sub_vertical_margin>* {
	margin-bottom: 20px
}

.no_margin {
	margin: 0!important
}

.c_align_center {
	text-align: center
}

.c_align_left {
	text-align: left
}

.c_align_right {
	text-align: right
}

.textl{
	text-align: left;
}

.textm{
	text-align: center;
}

.textr{
	text-align: right;
}

.c_badge {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #d3d3d3;
	color: #000
}

.c_badge_small {
	width: 8px;
	height: 8px
}

.c_badge_blue {
	background: #5959FF;
	color: #fff
}

.c_float_right {
	float: right
}

.c_float_left {
	float: left
}

.c_textWrap {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word
}

.c_flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center
}

.c_flexRowStart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center
}

.c_flexRowCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.c_flexRowEnd {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center
}

.c_flexCol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch
}

.c_flexColStart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch
}

.c_flexColCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch
}

.c_flexColEnd {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch
}

.c_alignItemStart {
	align-items: flex-start
}

.c_alignItemEnd {
	align-items: flex-end
}

.c_alignSelfStart {
	align-self: flex-start
}

.c_alignSelfEnd {
	align-self: flex-end
}

.c_textEllipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.c_flexWrap {
	flex-wrap: wrap
}

.c_pointer {
	cursor: pointer
}

.c_flexOne {
	flex-grow: 1
}

.flex-1 {
	flex-grow: 1
}

.flex-2 {
	flex-grow: 2
}

.flex-3 {
	flex-grow: 3
}

.flex-4{
	flex-grow:4;
}

.flex-5{
	flex-grow:5;
}


.c_padding {
	padding-left: 10px;
	padding-right: 10px
}

.c_paddingV {
	padding-top: 10px;
	padding-bottom: 10px
}

.table {
	display: table;
	width: 100%;
	text-align: center;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
	overflow: hidden
}

.table .tableRow {
	display: table-row;
	background: #fff;
	padding: 7px 15px;
	border-bottom: 1px solid #DCDCDC
}

.table .tableHeader {
	display: table-row;
	font-weight: 700;
	color: #fff;
	background: #FF9018;
	padding: 7px 15px;
	border-bottom: 1px solid #DCDCDC
}

.table .tableBody {
	display: table-row-group
}

.tableRow:nth-of-type(2n) {
	background: #F7F7F7
}

.tableRow .tableCell,
.tableHeader .tableCell {
	display: table-cell;
	padding: 7px;
	vertical-align: middle
}

.c_form {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1)
}

.c_form>.c_form_item {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center
}

.c_form>.c_form_item:last-of-type {
	border: 0
}

.c_form_item>.c_form_left_tel {
	align-self: stretch;
	border-right: 1px solid rgba(0, 0, 0, .1);
	width: 80px;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.c_form_item>.c_form_right {
	min-width: 45px;
	margin-right: 10px;
	flex: 1 0 auto
}

.c_form_item>.c_form_input {
	padding: 15px 10px;
	width: 100%;
	flex: 0 1 auto
}

.c_maskCnt {
	background: rgba(0, 0, 0, .6);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100
}

.c_mask {
	display: table;
	position: fixed;
	width: 360px;
	background-color: #fff;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.small_mask {
	width: 300px
}

.c_w100 {
	width: 100%
}

.c_valign {
	position: absolute;
	transform: translateY(-50%);
	top: 50%
}